
<div class="container"> 
  <div class="row">
    <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div id="title-address">
          <h1>Address Book</h1>
          <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %>
        </div>
        <div>           
          <% @contacts.each do |contact| %>
          <br>
            <div class="card text-center contact-list" style="width: 40rem;">
              <div><h3><strong><%= contact.name %></strong></h3></div>
              <div><strong>Address:</strong> <%= contact.address %></div>
              <div><strong>Email:</strong> <%= contact.email %></div>
              <div><strong>Phone Number:</strong> <%= number_to_phone(contact.phone) %></div>
              <div>
              <br>
              <%= link_to "Edit", edit_contact_path(contact), class: "btn btn-info" %> /
              <%= link_to "Delete", contact, method: :delete, data: { confirm: "Are you sure you want to delete this contact" }, class: "btn btn-warning" %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <br>
      </div>
    <div class="col-xs-4"></div>
  </div> 
</div>